@import "bootstrap/bootstrap.less";

#main-navbar {

	//background: linear-gradient(rgb(254, 88, 21), rgb(255, 161, 0)); 
	
	background-color: rgb(255, 161, 0);
	color: #888888 !important;
}

.primary-button {
	.btn();
	.btn-default();
}

#main-body {
	.container();
}

#footer {
	.container();
	border-top: solid thin rgb(255, 161, 0);
	padding-top: 15px;
	UL {
		text-align: center;
		.center-block();
		.list-inline();
	}
}


.signin-panel {
	.panel();
	.panel-heading {
		font-size: x-large;
		font-weight: bolder;
	}
	.submit {
		padding-right: 15px;
		.pull-right();
	}
	.social-signin {
		margin-bottom: 15px;
		.make-md-column(6);
		
		.btn-twitter-signin {
			border: none;
			padding: 0px;
		}
		.btn-twitter-signin {
			.btn();
			.btn-default();
			.btn-sm();
			.btn-block();
			background-color: #55ACEE;
			color: white;
		}
		.btn-facebook-signin {
			.btn();
			.btn-default();
			.btn-sm();
			.btn-block();
			background-color: #4c66a4;
			color: white;
		}
	}
		
}

.question-row {
	margin-bottom: 15px;
	.question {
		font-weight: bolder;
		font-size: larger;
	}
	.btn-answer {
		.btn();
		.btn-default();
		.btn-xs();
	}
}

.question-pane {
	.well();
	.question-text {
		font-size: larger;
		font-weight: bolder;
		margin-bottom: 15px;
	}
	.answer-group {
		.row();
		.answer {
			margin-bottom: 15px;
			.make-md-column(3);
			.make-xs-column(6);
			
			.btn-answer {
				.btn();
				.btn-block();
				.btn-default();
			}
			.btn-answer.correct {
				color: #fff;
				background-color: #47a447;
				border-color: #398439;
			}
			.btn-answer.incorrect {
				color: #fff;
				background-color: #d9534f;
				border-color: #d43f3a;
			}
		}
	}
	.prize-description {
	}
}


.prize-pane {
	.well();
	
	.prize-title {
		font-size: larger;
		font-weight: bolder;
	}
	.redemption-instructions{
		
	}
}


.history-table {
	.choosen-answer {
		color: #d9534f;
	}
	.fa-thumbs-down {
		color: #d9534f;
	}
	
	.fa-thumbs-up {
		color: #47a447;
	}
	.correct-answer {
		color: #47a447;
	}
}

.address-entry {
	.city {
		.make-md-column(6);
		padding-left: 0px;
	}
	.state {
		.make-md-column(2);
	}	
	.zip {
		.make-md-column(4);
		padding-right: 0px;
	}	
}