@import "bootstrap/bootstrap.less";

#main-navbar {

	//background: linear-gradient(rgb(254, 88, 21), rgb(255, 161, 0)); 
	
	background-color: rgb(255, 161, 0);
	color: #888888 !important;
}

.primary-button {
	.btn();
	.btn-default();
}

#main-body {
	.container();
}

#footer {
	.container();
	border-top: solid thin rgb(255, 161, 0);
	padding-top: 15px;
	UL {
		text-align: center;
		.center-block();
		.list-inline();
	}
}

.signup-form {
	.form-horizontal();
	
	.control-label {
		.make-md-column(2);
	}
	.form-input {
		.make-md-column(10);
	}
	.submit {
		padding-right: 15px;
		.pull-right();
	}
}

.question-row {
	margin-bottom: 15px;
	.question {
		font-weight: bolder;
		font-size: larger;
	}
	.btn-answer {
		.btn();
		.btn-default();
		.btn-xs();
	}
}

.contest-list {
}